streamlit==1.4.0
numpy >=1.18  # released December 2019
scipy>=1.4  # released December 2019
pandas>=1.0  # released January 2020
patsy>=0.5.2  # released January 2018
packaging>=21.3  # released Nov 2021
gunicorn==19.9.0
click<=8.0.4
numpy==1.20.3
six==1.16.0
pytz==2022.1
tornado==6.1
pyparsing==3.
matplotlib==3.3.2
seaborn==0.11.2
